<template>
  <div class="list-item">
    <input
      :disabled="disabled"
      id="c1"
      type="checkbox"
      v-model="task.status"
    >
    <label for="c1">
      <template v-if="task.value">
        {{ task.value | trim }}
      </template>
      <template v-else>
        без названия
      </template>
    </label>
  </div>
</template>

<script>
export default {
  name: "ListItem",
  filters: {
    trim: function (value) {
      if(value.length > 15){
        return `${value.substring(0, 15)}...`;
      }
      return value;
    },
  },
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    task: {
      type: Object,
      default: () => ({})
    }
  }
};
</script>

<style scoped lang="scss">
.list-item {
  padding: .2rem 0;
}
</style>
