<template>
  <div class="note">

    <div class="note__heading">
        <h2>{{ note.title | trim }}</h2>
    </div>

    <div class="note__content">
      <list-item
        :disabled="true"
        v-for="task in cuttedTasks"
        :key="task.id"
        :task="task"
      />
      <template v-if="note.tasks.length > 3">...</template>
    </div>
    
    <close-icon
      class="note__icon"
      @click="deleteNote(note.noteId)"
    />
    <edit-icon
      class="note__icon --edit"
      @click="$router.push(`/update/${note.noteId}`)"
    />
  </div>
</template>

<script>
import ListItem from './ListItem.vue';

export default {
  name: "Note",
  filters: {
    trim: function (value) {
      if(value.length > 15){
        return `${value.substring(0, 15)}...`;
      }
      return value;
    },
  },
  props: {
    note: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    cuttedTasks() {
      return this.note.tasks.slice(0, 3)
    }
  },

  methods: {
    deleteNote(id) {
      this.$emit('onDeleteNote', id);
    }
  },
  components: {
    ListItem,
  }
};
</script>\

<style scoped lang="scss">
    .note {
      width: 100%;
      max-width: 12.8rem;
      height: 10rem;
      border: 1px solid #E0E0E0;
      border-radius: 5px;
      padding: 1rem;
      position: relative;
      margin: .65rem;
    }
    .note__icon {
      position: absolute;
      top: .7rem;
      right: .5rem;
      cursor: pointer;
      &.--edit {
        right: 2rem;
      }
    }
    .note__heading {
        & h2 {
          font-size: .9rem;
        }
    }
    .note__content {
      padding: .9rem 0;
    }
</style>

