<template>
  <div class="create-note" v-if="isExistForm">
    <are-u-sure v-if="isShowModal" @onClose="isShowModal = false" />

    <header class="create-note__header">
      <button class="button" @click="back">
        <arrow-icon class="button__icon" />
      </button>
      <input type="text" placeholder="Введите название списка" v-model="form.title" />
    </header>

    <div class="create-note__content" ref="createNote">
      <edit-list-item
        class="create-note__list-item"
        v-for="(item, index) in form.tasks"
        :key="`${item.id}__${index}`"
        :status="item.status"
        :id="item.id"
        :item="item"
        v-model="item.value"
        @onEnter="addNewTask"
        @delete="deleteTask($event)"
        @setStatus="item.status = $event"
      />
    </div>
    <button class="button create-note__button" @click="save">Сохранить</button>
  </div>
</template>

<script>
import EditListItem from "../CreateNote/EditListItem.vue";
import AreUSure from "../AreUSure.vue";

export default {
  name: "CreateNote",
  components: {
    EditListItem,
    AreUSure
  },
  data() {
    return {
      form: {
        noteId: `note__${new Date().getMilliseconds()}`,
        title: "",
        tasks: [
          {
            id: new Date().getMilliseconds(),
            value: "",
            status: false
          }
        ]
      },
      isExistForm: false,
      isShowModal: false
    };
  },
  computed: {
    isSavedData() {
      const notes = this.$store.getters.notes;
      const storedNote = notes
        .map(note => {
          return note.noteId;
        })
        .indexOf(this.form.noteId);

      return (
        notes[storedNote].title === this.form.title &&
        this.form.tasks.length === notes[storedNote].tasks.length
      );
    }
  },
  methods: {
    addNewTask() {
      this.form.tasks.push({
        id: new Date().getMilliseconds(),
        value: "",
        status: false
      });
    },

    deleteTask(id) {
      const index = this.form.tasks
        .map(task => {
          return task.id;
        })
        .indexOf(id);
      if (index) {
        this.form.tasks.splice(index, 1);
      }
    },

    save() {
      if (this.$route.params.id) {
        this.$store.dispatch("updateCurrentNote", this.form);
      } else {
        this.$store.dispatch("setNewNote", this.form);
      }
      this.$router.push("/");
    },

    back() {
      if (this.isSavedData) {
        this.$router.go(-1);
        return;
      }

      this.isShowModal = true;
    }
  },

  created() {
    if (this.$route.params.id) {
      const index = this.$store.getters.notes
        .map(note => note.noteId)
        .indexOf(this.$route.params.id);

      if (index < 0) {
        this.$router.push("/");
      }
      this.form = Object.assign({}, this.$store.getters.notes[index]);
      this.form.tasks = this.$store.getters.notes[index].tasks.slice();
    }
    this.isExistForm = true;
  }
};
</script>

<style scoped lang="scss">
.create-note {
  width: 100%;
  padding: 1.5rem;
  position: relative;
  & input {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

.create-note__content {
  margin-top: 4.3rem;
  height: 19rem;
  overflow: auto;
}

.create-note__list-item {
  margin-top: 0.5rem;
}

.create-note__button {
  margin-top: 1rem;
}
</style>
