<template>
  <div class="edit-list-item">
    <div class="list-item">
        <input
            :disabled="disabled"
            v-model="taskStatus"
            id="c1"
            type="checkbox"
        >
        <input
            ref="input"
            class="edit-list-item__input"
            type="text"
            v-model="taskName"
            placeholder="Введите название задачи"
            v-on:keyup.enter="emitHitEnterEvent($event)"
        >
        <close-icon
            @click="emitDelete"
            class="edit-list-item__close-button"
        />
    </div>
  </div>
</template>

<script>

export default {
  name: "EditListItem",
  props: {
      disabled: {
        type: Boolean,
        default: false,
      },
      id: {
        type: [String, Number],
        default: null
      },
      item: {
        type: Object,
        default: null,
      }
  },
  data() {
      return {
          taskName: '',
          taskStatus: '',
      }
  },
  watch: {
      taskName() {
          this.$emit('input', this.taskName)
      },

      taskStatus() {
          this.$emit('setStatus', this.taskStatus)
      },
  },
  methods: {
      emitHitEnterEvent(event) {
          this.$emit('onEnter');
          event.target.blur()
      },

      emitDelete() {
          this.$emit('delete', this.id);
      },
  },

  mounted() {
      this.$refs.input.focus();
      if(this.item) {
          this.taskName = this.item.value;
          this.taskStatus = this.item.status;
      }
  }
};
</script>

<style scoped lang="scss">
    .edit-list-item__input {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
    }

    .edit-list-item__close-button {
        cursor: pointer;
    }
</style>
