<template>
  <div class="home">
    <modal 
      v-if="isShowModal"
      @onClose="onCloseModal"
      :id="modalsId"
    />
    <header class="home__header">
      <h1>Заметки</h1>
      <button
        class="button"
        @click="$router.push('/create-note')"
      >
        <plus-icon class="button__icon" :size="48" />
      </button>
    </header>
    <div class="home__content">
      <note
        @onDeleteNote="onDeleteNote($event)"
        v-for="(note, index) in notes"
        :key="`${note.title}__${index}`"
        :note="note"
      />
    </div>
  </div>
</template>

<script>
import Note from "../components/Note/Note.vue";
import Modal from "./Modal.vue";

export default {
  name: "Home",
  components: {
    Note,
    Modal
  },
  data() {
    return {
      isShowModal: false,
      modalsId: null,
    }
  },
  computed: {
    notes() {
      return this.$store.getters.notes;
    }
  },
  methods: {
    onDeleteNote(id) {
      this.modalsId = id;
      this.isShowModal = true;
    },

    onCloseModal() {
      this.isShowModal = false;
      this.modalsId = null;
    }
  },
};
</script>

<style scoped lang="scss">
.home {
  width: 100%;
  padding: 1.5rem;
  position: relative;
}

.home__header {
  display: flex;
  justify-content: space-between;
  & h1 {
    font-size: 1.5rem;
  }
}

.home__content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.3rem;
  overflow: auto;
  height: 21rem;
}
</style>
