<template>
  <div class="modal">
    <div class="modal__sure">
      <close-icon
				class="modal__close"
				@click="emitClose"
			/>

      <h2>Вы уверены?</h2>
      <div class="modal__controls">
        <button
					class="button"
					@click="emitYes"
				>
					Да
				</button>
        <button
					class="button"
					@click="emitClose"
				>
					Нет
				</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
	name: "Modal",
	props: {
		id: {
			type: [String, Number, null],
			default: null
		}
	},
	methods: {
		emitYes() {
			if(this.id) {
				this.$store.dispatch('deleteNote', this.id);
			}	
			this.emitClose()
		},
		emitClose() {
			this.$emit('onClose');
		}
	}
};
</script>

<style scoped lang="scss">
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparentize(#000000, 0.8);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
	align-items: center;
	z-index: 99;
}

.modal__sure {
  width: 100%;
  max-width: 20rem;
  height: 200px;
  background-color: #fff;
  z-index: 99;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  position: relative;

  & h2 {
    padding-top: 5rem;
    text-align: center;
  }

  & .modal__controls {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;

    & button {
      width: 100%;
      max-width: 4.75rem;
      text-align: center;
    }
  }
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
</style>

