<template>
  <div id="app">
    <div class="app__content">
      <div class="app__sidebar"></div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  created(){
    if(localStorage.getItem('notes')) {
      const notes = JSON.parse(localStorage.getItem('notes'));
      this.$store.dispatch('setStoredNotes', notes)    
    }
  }
};
</script>

<style lang="scss">
  .app__content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    height: 500px;
    margin-top: 190px;
    border: 1px solid #E0E0E0;
  }

  .app__sidebar {
    width: 100%;
    max-width: 230px;
    height: 100%;
    background-color: #3949AB;
  }
</style>